/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* full screen height */
  text-align: center;
  padding: 20px;
}

img{
  display: block;
  margin: 0 auto;
  height: 200px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

